<div class="flex flex-col items-center mb-10">
  <video
    autoplay
    loop
    muted
    playsinline
    alt="Vídeo de Perfil da Emilly"
    class="w-36 h-36 rounded-full object-cover border-4 border-fuchsia-300 shadow-xl mb-4 transform transition-all duration-300 ease-in-out hover:scale-120"
  >
    <source src="assets/videos/emilly-profile-video.mp4" type="video/mp4" />
    Seu navegador não suporta a tag de vídeo.
  </video>
  <h1
    class="text-5xl font-extrabold text-white mb-2 tracking-wide text-shadow-lg"
  >
    Emilly ✨
  </h1>
  <p class="text-xl text-gray-300 text-center max-w-sm leading-relaxed">
    Produtora de conteúdo adulto, 22 anos, sempre buscando te surpreender!
  </p>
  <div class="flex mt-6 space-x-6">
    <a
      href="https://www.instagram.com/opsmilysoy"
      target="_blank"
      class="text-gray-400 hover:text-instagram-primary transition duration-300"
    >
      <img
        src="assets/images/icons/instagram.svg"
        alt="Instagram"
        class="w-9 h-9"
      />
    </a>
    <a
      href="https://www.tiktok.com/@milyzinha_live"
      target="_blank"
      class="text-gray-400 hover:text-tiktok-secondary transition duration-300"
    >
      <img src="assets/images/icons/tiktok.svg" alt="TikTok" class="w-9 h-9" />
    </a>
    <a
      href="https://t.me/seuwpp_para_business"
      target="_blank"
      class="text-gray-400 hover:text-telegram-primary transition duration-300"
    >
      <img
        src="assets/images/icons/telegram.svg"
        alt="Telegram"
        class="w-9 h-9"
      />
    </a>
  </div>
</div>
