/* link-button.component.css */
.link-button-base {
  position: relative;
  overflow: hidden;
  border: none;
  /* Ensure text and icons are always visible on top of the gradient */
  z-index: 1; /* Make sure button content is above the gradient div */
}

.link-button-base:active {
  transform: translateY(1px);
}
