<a
  [href]="url"
  target="_blank"
  [ngClass]="getButtonClasses()"
  class="link-button-base relative overflow-hidden group"
>
  <div
    class="absolute inset-0 bg-gradient-to-r {{
      gradientClass
    }} opacity-90 group-hover:opacity-100 transition-opacity duration-300"
  ></div>
  <div class="flex items-center justify-between w-full relative z-10 px-4 py-2 sm:py-3"> <div class="flex items-center">
      <img *ngIf="iconUrl" [src]="iconUrl" alt="Ícone" class="w-6 h-6 sm:w-7 sm:h-7 mr-2 sm:mr-3" /> <span class="text-sm sm:text-base font-medium text-white mr-1 truncate">{{ text }}</span> </div>
    <span
      *ngIf="badgeText"
      class="bg-white text-gray-900 text-xs sm:text-sm font-bold px-2 py-0.5 sm:px-3 sm:py-1 rounded-full ml-1 sm:ml-2 shadow flex-shrink-0" >{{ badgeText }}</span
    >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-4 w-4 sm:h-6 sm:w-6 text-white ml-1 sm:ml-2 flex-shrink-0" fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14"
      />
    </svg>
  </div>
</a>